node_modules
dist
.env
.env.local
.env.production
*.log
.DS_Store
.vite
*.tsbuildinfo
coverage
apps/api/datos/subidas/*
!apps/api/datos/subidas/.gitkeep
apps/api/datos/copias/
.idea
.vscode/*
!.vscode/extensions.json
design_handoff_confecciones_ana_mari/
