@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  html,
  body,
  #raiz {
    @apply min-h-full;
  }

  body {
    @apply bg-white font-cuerpo text-cuerpo text-tinta-2 antialiased;
  }

  h1,
  h2 {
    @apply font-titular font-semibold text-tinta;
  }

  :focus-visible {
    @apply outline outline-2 outline-offset-2 outline-acento;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }
  }
}

@layer components {
  .envoltorio {
    @apply mx-auto w-full max-w-contenido px-4 md:px-6 lg:px-8;
  }

  .trama {
    background-image: repeating-linear-gradient(
      45deg,
      #e6e2da 0 7px,
      #efece6 7px 14px
    );
  }

  .trama-macro {
    background-image: repeating-linear-gradient(
      45deg,
      #dad5c9 0 7px,
      #e3ded2 7px 14px
    );
  }
}
